# central station and use the presistent volume claim
apiVersion: apps/v1
kind: Deployment
metadata:
  name: central-station
spec:
  replicas: 1
  selector:
    matchLabels:
      app: central-station
  template:
    metadata:
      labels:
        app: central-station
    spec:
      containers:
        - name: central-station
          image: central-station
          imagePullPolicy: Never
          env:
          - name: bootstrap.servers
            value:  kafka-service:9092
          - name: TOPIC
            value: station
          - name: PARQUET_PATH
            value: /data
          - name: BATCH_SIZE
            value: "100"
          ports:
            - containerPort: 4000
          resources:
            limits:
              cpu: "1"
              memory: "1Gi"
          volumeMounts:
            - name: data-volume
              mountPath: /data
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: ws-storage

---
apiVersion: v1
kind: Service
metadata:
  name: central-station
spec:
  selector:
    app: central-station
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
